/.idea/
/.vscode/
/node_modules/
/dist/
/old/
/coverage/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
.env*
*.tmp
*.swp
*.swo
*.tgz
/assets/
/_locales/
/tabFetch.js
/.eslintcache
release/
_to_delete
.DS_Store
